@model IEnumerable<BigShool.Models.Course>

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<table class="table">
    <tr>
        <th>
            Lecture Name
        </th>
        <th>
            Course Date
        </th>
        <th>
            Category Name
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
</tr>
}

</table>
